fastapi
uvicorn
langchain
chromadb
sentence-transformers
python-jose
openai
python-dotenv
langchain-openai
langchain-chroma
gunicorn
langchain-community
langchain-huggingface
langchain-text-splitters
pypdf
pwdlib[argon2]